@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("../app/assets/fonts/manrope/Manrope-Light.ttf") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

p {
  font-size: 12px;
  line-height: 12px;
  font-family: Manrope !important;
}